modules/rampart-integration/src/main/resources/ping/ping.wsdl

<definitions xmlns:s1="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:s="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://xmlsoap.org/Ping"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             targetNamespace="http://xmlsoap.org/Ping"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://xmlsoap.org/Ping">
            <s:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"/>
            <s:element name="Ping" nillable="true" type="tns:ping"/>
            <s:complexType name="ping">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="ticket" type="tns:ticketType"/>
                    <s:element minOccurs="1" maxOccurs="1" name="text" nillable="true" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ticketType">
                <s:simpleContent>
                    <s:extension base="s:string">
                        <s:attribute ref="s1:Id"/>
                    </s:extension>
                </s:simpleContent>
            </s:complexType>
            <s:element name="PingResponse" nillable="true" type="tns:pingResponse"/>
            <s:complexType name="pingResponse">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="text" nillable="true" type="s:string"/>
                </s:sequence>
            </s:complexType>
        </s:schema>
        <s:schema elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
            <s:attribute name="Id" type="s:string"/>
        </s:schema>
    </types>
    <message name="PingRequest">
        <part name="ping" element="tns:Ping"/>
    </message>
    <message name="PingResponse">
        <part name="pingResponse" element="tns:PingResponse"/>
    </message>
    <portType name="PingPort">
        <operation name="Ping" >
            <input message="tns:PingRequest"/>
            <output message="tns:PingResponse"/>
        </operation>
    </portType>
    <binding name="PingBinding" type="tns:PingPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Ping">
            <soap:operation soapAction="urn:Ping" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="PingPort">
        <port name="Ping1" binding="tns:PingBinding">
            <soap:address location="http://localhost:9080/pingservice/Ping1"/>
        </port>
    </service>
</definitions>
